.common {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f5ec;
}
@media screen and (min-width: 376px) {
  .common {
    margin-top: 129px;
    padding: 0 70px 0;
    position: relative;
  }
}
.common__text {
  background-color: #302c2c;
}
@media screen and (min-width: 376px) {
  .common__text {
    margin-left: auto;
    width: 890px;
    height: 470px;
    padding: 0 94px 0;
  }
}
.common__text h2 {
  padding-top: 30px;
  font-family: "Gilroy-light", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
@media screen and (min-width: 376px) {
  .common__text h2 {
    font-size: 36px;
    line-height: 42px;
  }
}
@media screen and (min-width: 376px) {
  .common__text h2 br {
    display: none;
  }
}
.common__text p {
  margin: 18px 47px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #f0ece3;
  font-weight: 200;
}
@media screen and (min-width: 376px) {
  .common__text p {
    margin: 0;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 29px;
    color: #f9f5ec;
  }
}
@media screen and (min-width: 376px) and (min-width: 376px) {
  .common__text p br {
    display: none;
  }
}
.common__text hr {
  display: inline-block;
  width: 60%;
  color: #f0ece3;
  margin: 0 20% 26px 20%;
  margin-bottom: 26px;
}
@media screen and (min-width: 376px) {
  .common__text hr {
    width: 110%;
    margin: 0;
    margin-top: 143px;
    margin-left: -13.5%;
  }
}
.common__button {
  width: 161px;
  margin-top: 20px;
}
@media screen and (min-width: 376px) {
  .common__button {
    position: absolute;
    right: 420px;
    top: 294px;
  }
}
.common__button_item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 0;
  border-bottom: 1px solid #635859;
  color: #635859;
  padding-bottom: 10px;
}
@media screen and (min-width: 376px) {
  .common__button_item {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    width: 180px;
    font-size: 20px;
    line-height: 23px;
    color: #f0ece3;
    border-bottom: 1px solid #f0ece3;
  }
}

.about-us {
  width: 100%;
  height: 660px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 376px) {
  .about-us {
    margin-top: 65px;
    height: 850px;
  }
}
.about-us__text {
  width: 152px;
  height: 67px;
  text-align: center;
}
@media screen and (min-width: 376px) {
  .about-us__text {
    width: 260px;
    height: 96px;
    margin-bottom: 20px;
  }
}
.about-us__text_title {
  font-family: "Gilroy-light", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  margin: 0;
}
@media screen and (min-width: 376px) {
  .about-us__text_title {
    font-size: 60px;
    line-height: 69px;
  }
}
.about-us__text_description {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #635859;
  margin-top: 6px;
}
.about-us__photo {
  margin-top: 5px;
  width: 100%;
  height: 1000px;
  background-image: url(images/about-us-photo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 376px) {
  .about-us__photo {
    height: 700px;
    background-size: cover;
    background-image: url(images/about-us-for-large.png);
  }
}

.product {
  background-color: #f0ece3;
  margin-top: 60px;
  width: 100%;
  height: 1064px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 376px) {
  .product {
    display: none;
  }
}
.product__photo {
  position: absolute;
  background-color: #f0ece3;
  background-image: url(images/product-photo.png);
  width: 300px;
  height: 435px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.product__text {
  color: #f0ece3;
  width: 100%;
  height: 800px;
  margin-top: 267px;
  padding-top: 205px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #302c2c;
}
.product__text_title {
  font-size: 24px;
  line-height: 24px;
  font-family: "Gilroy-light", sans-serif;
  font-weight: 400;
}
.product__text p {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.product__text p:first-child {
  min-width: 318px;
  height: 140px;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.product__text p:last-child {
  min-width: 318px;
  height: 286px;
  font-size: 16px;
  line-height: 22px;
}
.product__button {
  width: 100%;
  padding-top: 20px;
  background-color: #302c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
}
.product__button_item {
  width: 161px;
  height: 32px;
  color: #f0ece3;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 0;
  border-bottom: 1px solid #f0ece3;
  padding-bottom: 10px;
}

.focus {
  margin-top: 100px;
  width: 100%;
  height: 354px;
}
@media screen and (min-width: 376px) {
  .focus {
    height: 400px;
  }
}
.focus__conteiner {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 354px;
  background-image: url(images/focus-photo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #f0ece3;
}
@media screen and (min-width: 376px) {
  .focus__conteiner {
    background-color: #635859;
    background-image: url(images/focus-photo-desktop.png);
    background-size: 100%;
  }
}
.focus__conteiner p:first-child {
  margin: 84px 16px 74px 16px;
  min-width: 343px;
  max-height: 110px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (min-width: 376px) {
  .focus__conteiner p:first-child {
    max-width: 1300px;
    height: 58px;
    font-size: 16px;
    line-height: 29px;
    margin: 109px 57px 89px 83px;
    text-align: center;
  }
}
.focus__conteiner div {
  width: 100%;
  min-height: 10px;
  display: flex;
}
@media screen and (min-width: 376px) {
  .focus__conteiner div {
    margin: 0 57px 116px 109px;
  }
}
.focus__conteiner div div {
  margin: 0;
  padding: 0;
  min-width: 140px;
  border-bottom: 0.4px solid #f0ece3;
}
.focus__conteiner div p {
  margin: 0 0 0 10px;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  font-family: "Gilroy-light", sans-serif;
  min-width: 400px;
}

.footer {
  margin-top: 80px;
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  background-color: #635859;
}
.footer__logo {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__logo_item {
  background-image: url(icons/logo-footer.png);
  display: inline-block;
  width: 150px;
  height: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 55px;
}
.footer__navigation ul {
  list-style-type: none;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: #d9dbe1;
}
.footer__navigation ul li {
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  padding-bottom: 8px;
}
.footer__navigation ul li:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  padding-bottom: 12px;
}
.footer__support {
  display: flex;
  flex-direction: column;
}
.footer__support p {
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  padding-bottom: 12px;
}
.footer__support_list {
  margin-left: 16px;
  margin-right: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__support_list ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  color: #d9dbe1;
}
.footer__support_list ul li {
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  padding-bottom: 8px;
}
.footer__subscribe {
  display: flex;
  margin: 30px 26px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
.footer__subscribe_text {
  text-align: center;
}
.footer__subscribe_text p:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.footer__subscribe_text p:last-child {
  font-size: 12px;
  line-height: 24px;
  color: #d9dbe1;
}
.footer__subscribe_button {
  display: flex;
  min-width: 322px;
  height: 40px;
}
.footer__subscribe_button input:first-child {
  min-width: 236px;
  background-color: #d6d0c9;
  border: none;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  padding-left: 8px;
}
.footer__subscribe_button input:last-child {
  width: 90px;
  height: 40px;
  background-color: #635859;
  border: 1px solid #d6d0c9;
  font-size: 12px;
  line-height: 22px;
  color: #d6d0c9;
}
.footer__icons {
  width: 250px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 62px 0;
}
.footer__icons i {
  background-size: 100%;
  background-repeat: no-repeat;
}
.footer__icons i:nth-child(1) {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(icons/footer-instagram.png);
}
.footer__icons i:nth-child(2) {
  width: 14px;
  height: 14px;
  background-image: url(icons/footer-facebook.png);
}
.footer__icons i:nth-child(3) {
  width: 14px;
  height: 14px;
  background-image: url(icons/footer-youtube.png);
}
.footer__icons i:nth-child(4) {
  width: 14px;
  height: 14px;
  background-image: url(icons/footer-pinterest.png);
}
.footer__developed {
  background-color: #635859;
  padding: 23px 16px 0;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  color: #d9dbe1;
  line-height: 24px;
}
.footer__developed p:first-child {
  font-size: 8px;
}
.footer__developed div {
  display: flex;
  align-items: center;
}
.footer__developed div p {
  font-size: 9px;
}
.footer__developed div i {
  display: inline-block;
  width: 50px;
  height: 12px;
  background-image: url(icons/footer-logo\ brill_1\ 4.png);
  margin-left: 4px;
}

.header {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 376px) {
  .header {
    height: 92px;
  }
}
.header__upper-section {
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #302c2c;
  color: #f0ece3;
}
@media screen and (min-width: 376px) {
  .header__upper-section {
    height: 44px;
  }
}
.header__upper-section_navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}
.header__upper-section_navigation li {
  font-size: 12px;
  display: inline-block;
  line-height: 15px;
  text-transform: uppercase;
  padding: 8px;
  font-weight: 500;
}
@media screen and (min-width: 376px) {
  .header__upper-section_navigation li {
    padding: 14px 42px;
  }
}
.header__upper-section_navigation li:first-child {
  padding-left: 12px;
  background-color: #f0ece3;
  color: #302c2c;
  font-weight: 300;
}
@media screen and (min-width: 376px) {
  .header__upper-section_navigation li:first-child {
    padding-left: 50px;
  }
}
.header__upper-section_navigation li:nth-child(3) {
  padding-left: 16px;
}
@media screen and (min-width: 376px) {
  .header__upper-section_navigation li:nth-child(3) {
    padding-left: 42px;
  }
}
.header__upper-section_languages {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 376px) {
  .header__upper-section_languages {
    margin-right: 30px;
  }
}
.header__upper-section_languages p {
  color: #f0ece3;
  font-weight: 300;
  line-height: 15px;
  font-size: 12px;
}
.header__upper-section_languages-arrow {
  background-image: url(icons/arrow-down.png);
  display: inline-block;
  margin-left: 11px;
  width: 9px;
  height: 5px;
  margin: 13.5px 13.5px 13.5px 0;
  vertical-align: bottom;
}
.header__lower-section {
  margin-left: 12px;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 376px) {
  .header__lower-section {
    margin: 20px 0 0 50px;
    justify-content: space-between;
  }
}
.header__lower-section_logo {
  width: 100%;
  margin-top: 16px;
}
.header__lower-section_logo-item {
  background-image: url(icons/logo-header.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 100px;
  height: 33px;
}
@media screen and (min-width: 376px) {
  .header__lower-section_logo-item {
    width: 154px;
    height: 51px;
  }
}
.header__lower-section_navigation {
  display: none;
}
@media screen and (min-width: 376px) {
  .header__lower-section_navigation {
    display: flex;
    width: 465px;
    margin-left: -15%;
  }
}
.header__lower-section_navigation ul {
  display: flex;
  flex-direction: row;
}
.header__lower-section_navigation ul li {
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px;
  font-weight: 500;
  margin-right: 30px;
  white-space: nowrap;
}
.header__lower-section_context-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
@media screen and (min-width: 376px) {
  .header__lower-section_context-menu {
    margin-right: 80px;
  }
}
.header__lower-section_context-menu i {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
}
.header__lower-section_context-menu i:not(:first-child) {
  margin-left: 22px;
}
.header__lower-section_context-menu i:nth-child(1) {
  width: 18px;
  height: 18px;
  background-image: url(icons/search-header.png);
}
.header__lower-section_context-menu i:nth-child(2) {
  background-image: url(icons/heart-header.png);
  width: 20px;
  height: 17px;
}
.header__lower-section_context-menu i:nth-child(3) {
  background-image: url(icons/basket-header.png);
  width: 14px;
  height: 20px;
}
.header__lower-section_context-menu i:nth-child(4) {
  background-image: url(icons/menu-header.png);
  width: 18px;
  height: 14px;
  margin-right: 10px;
}

.our-collections {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 38px;
}
@media screen and (min-width: 376px) {
  .our-collections {
    display: none;
  }
}
.our-collections h2 {
  font-size: 28px;
  line-height: 32px;
  font-family: "Gilroy-light", sans-serif;
  color: #635859;
  text-align: center;
}
.our-collections__card {
  padding: 0;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
}
.our-collections__card_item {
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 500px;
}
.our-collections__card_item:nth-of-type(1) {
  background-image: url(images/our-collections-1.png);
}
.our-collections__card_item:nth-of-type(2) {
  background-image: url(images/our-collections-2.png);
}
.our-collections__card_item:nth-of-type(3) {
  background-image: url(images/our-collection-3.png);
}
.our-collections__card p {
  padding: 0;
  margin: 8px 0 0;
}

.collage {
  width: 1300px;
  height: 1200px;
  margin: 0 70px;
}
@media screen and (max-width: 375px) {
  .collage {
    display: none;
  }
}
.collage img {
  margin: 25px;
}
.collage img:nth-of-type(1) {
  margin-top: 0;
  margin-left: 0;
}
.collage img:nth-of-type(4) {
  vertical-align: top;
  margin: 0;
  margin-top: 25px;
}
.collage img:nth-of-type(5) {
  margin: 25px 20px 0 50px;
}

.product-desktop {
  width: 100%;
  height: 783px;
  position: relative;
}
@media screen and (max-width: 375px) {
  .product-desktop {
    display: none;
  }
}
.product-desktop__up {
  height: 650px;
  background-color: #302c2c;
}
.product-desktop__down {
  height: 133px;
}
.product-desktop__text {
  width: 730px;
  height: 494px;
  position: absolute;
  top: 206px;
  left: 50px;
  background-color: #f0ece3;
  z-index: 2;
  padding: 0 40px;
}
.product-desktop__text h2 {
  font-family: "Gilroy-light", sans-serif;
  margin-top: 55px;
  font-size: 36px;
  line-height: 58px;
}
.product-desktop__text p {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
.product-desktop__text p:nth-of-type(1) {
  margin-top: 24px;
}
.product-desktop__text p:nth-of-type(2) {
  margin-top: 16px;
}
.product-desktop__photo {
  background-image: url(images/product-desktop.png);
  width: 655px;
  height: 660px;
  background-size: cover;
  position: absolute;
  top: 123px;
  right: 60px;
}
.product-desktop__button {
  position: absolute;
  bottom: 30px;
  left: 313px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  width: 180px;
  font-size: 20px;
  line-height: 23px;
  color: #302c2c;
  border-bottom: 1px solid #302c2c;
}

.our-collection-desktop {
  width: 100%;
  height: 1380px;
  position: relative;
  margin-top: 150px;
}
@media screen and (max-width: 375px) {
  .our-collection-desktop {
    display: none;
  }
}
.our-collection-desktop__dark-block {
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 475px;
  background-color: #302c2c;
}
.our-collection-desktop__photo {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-collection-desktop__title {
  font-weight: normal;
  padding: 0;
  margin: 0 70px 0 0;
  width: 410px;
  height: 70px;
  font-size: 60px;
  line-height: 70px;
  position: absolute;
  top: 0;
  right: 138px;
  color: #635859;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #2b292d;
  background-color: #f0ece3;
}

.page {
  width: 100%;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
