$background-color-dark-grey: #302c2c;
$background-color-grey: #f0ece3;
$background-color-ligth-grey: #635859;
$background-color-grey-light: #d6d0c9;

$text-color-grey-white: #f0ece3;
$text-color-dark-grey: #302c2c;
$text-color-light-dark: #635859;
$text-color-light-white: #f9f5ec;
$text-color-grey: #d9dbe1;
$text-color-white: #ffffff;
